<h1>Othern</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <form action="/handleSubmission" method="post">
                <div class="form-group">
                    <label for="inputText">Los othern...</label>
                    <textarea class="form-control" id="inputText" name="text" rows="3" placeholder="Text eingeben..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Abschicken</button>
            </form>
        </div>
    </div>
</div>