<form action="/register" method="POST" class="mt-4">
    <div class="mb-3">
        <label for="birthday" class="form-label">Geburtsdatum</label>
        <input type="date" class="form-control" id="birthday" name="birthday" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nutzername</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Passwort</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrieren</button>
</form>
